* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    
   
    font-family: 'Lato', 'Arial';
    font-weight: 300;
    font-size: 100%;
    text-rendering: optimizeLegibility;
}

header {
    background-image: linear-gradient(27deg, rgba(231,236,25,0.70) 9%, rgba(0,0,0,0.70) 23%, rgba(19,3,3,0.70) 77%, rgba(17,10,239,0.70) 93%), url("image0.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;

}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .50 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .50 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .50 );
  }
  100%
  {
    transform: scale( .50 );
  }
}

.heart {
    position: absolute;
    height: 150px;
    width: 150px;
    stroke: red;
    fill:rgba(161, 9, 34);
    transform: translate(-50%, -50%);
    left: 48%;
    top: 65%
}

span svg {
    animation: heartbeat 1s infinite;
}

body {
    padding: 0;
    margin: 0;
  }
  
  #message p, a {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
    font-family: Courier, monospace;
    margin: 0.8em 0;
    font-size: 18px;
    color: #B95;
  }
  
  .ghost,
  .glitch {
    opacity: 0.25;
  }
  
  #message {
    margin-left: -300px;
    margin-top: -130px;
    position: absolute;
    height: 300px;
    width: 600px;
    left: 50%;
    top: 40%;
  }
  
  #animate {
    text-shadow: 0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
    position: absolute;
    color: #fff;
    bottom: 0;
  }
  
  #container {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
  #container:before {
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    left: 0;
    top: 0;
  }

 section {
    background-color: rgba(216, 112, 147, 0.600);
}

.second-page-header h2 {
    padding-top: 20px;
    font-size: 43px;
    color: rgb(90, 88, 88);
    font-weight: 400;
    font-family: 'Lato', 'Arial';
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
} 

.second-page-header p {
    text-align: center;
    line-height: 145%;
    font-weight: 500;
    font-size: 85%;
}

 .second-page-header:after {
    
    display: block;
    height: 3px;
    width: 200px;
    content: " ";
    background-color: rgb(14, 117, 100);
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 20px;
}

.rows {
    display: flex;
    flex-direction: column;
}

.ingredient-container {
    display: flex;
    justify-content: center;
    gap: 30%;
    padding-bottom: 70px;
    width: 1000px;
    margin: 0 auto;
}

.boxes {
    height: 180px;
    width: 180px;
    border-radius: 30px;
    /* border: thick double rgb(146, 16, 16); */
    position: relative;
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 0px 5px 18px 1px rgba(0,0,0,0.91); 
    box-shadow: 0px 5px 18px 1px rgba(0,0,0,0.91);
    transition: transform 330ms ease-in-out;
}


.g {

    background: linear-gradient(to right, #c31432, #240b36);
    padding: 2.5px;
    border-radius: 30px;

}

.text {
    text-align: center;
    font-size: 125%;
    padding-top: 70px;
    color:rgb(235, 158, 5);
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    opacity: 0;
    transition: opacity 0.5s;
}

.text:hover {
    cursor: default;
}

.first {
    background-image: url(grind.jpg);
}

.second {
    background-image: url(blush.jpg);
}

.third {
    background-image: url(clumsy.jpg);
}

.fourth {
    background-image: url(packer.jpg);
}

.fifth {
    background-image: url(tender.jpg);
}

.sixth {
  background-image: url(gamerps.jpg);
}

.seventh {
  background-image: url(emo.jpg);
}

.eighth {
  background-image: url(halal.jpg);
}

.ninth {
  background-image: url(kero.png);
}

.boxes:hover {
    transform: scale(1.4, 1.4);
}

.boxes::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(27deg, rgba(13, 14, 1, 0.50) 9%, rgba(0, 0, 1, 0.50) 93%);
    z-index: -1;
    transition: opacity 0.3s linear;
    opacity: 0;
    border-radius: 30px;
  }
  
  .boxes:hover::before {
    opacity: 1;
  }

/*.first:hover {
    background: linear-gradient(27deg, rgba(13, 14, 1, 0.479) 9%, rgba(0, 0, 1, 0.452) 93%), url(grind.jpg);
    background-size: cover;
    background-position: center;
}*/

.boxes:hover .text {
    opacity: 1;
    /*filter: brightness(1);*/
}

@media (min-device-width:600px) {
  img[data-src-600px] {
      content: attr(data-src-600px, url);
  }
}

@media (min-device-width:800px) {
  img[data-src-800px] {
      content: attr(data-src-800px, url);
  }
}

@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} } 